*{
 margin: 0;
    padding:0;
    box-sizing:border-box;
}
.flex{
    display:flex;
}
.container {
    width:60%
}
.header_1{
    
    background-color: lightblue;
    height:100px ;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: orange;
    width: 60%;
   
}
.p,ul{
    border:2px dashed black ;
    flex-grow: 1;
}
.left{
   
    justify-content: flex-start;
    align-items:center;
    padding-left:5px ;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 5px ;
}
ul{
    list-style-type: none;
    justify-content: center;
    flex-grow: 2;
}
li{
    margin:5px ;
}
.blue{
    
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.purple{
    height:250px;
    width:53%;
    background-color: rgb(191, 25, 191); 
}
.light-blue,.blue,.pink{
    height: 300px; 
}
section:nth-child(2n){
    background-color: gray;
}
.box{
    height: 350px;
    justify-content: center;
    align-items: center;
}
#box_centrale{
    flex-direction: row-reverse;
}
.light-blue{
    width:40% ;
    background-color: lightblue;
}
.pink{
    width: 20%;
    background-color: pink;
}
.bigbox-container{
    height:650px ;
    justify-content: center;
    align-items: center;
}
.big-box{
    height:600px;
    width:60% ;
    
    background-color: green;
}
