*{
 margin: 0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color: lightblue;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
nav{
    background-color: orange;
    width: 60%;
    display: flex;
}
.p,ul{
    border:2px dashed black ;
    flex-grow: 1;
}
.left{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding-left:5px ;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 5px ;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 2;
}
li{
    margin:5px ;
}
